/* Import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Global styling */
body {
    background: radial-gradient(#ffffff, #e9e5e5); 
    font-family: 'Roboto', sans-serif;
    color: #008600;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading fonts */
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

/* Page header styling */
#heading {
    background: radial-gradient(#00b200, #008600);  
    color: #ffffff;
    font-size: 1.5rem;
    width: 100%;
    overflow: auto;    
}

#heading h1 {
    margin: 20px 10%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* How to use box */
#how-to-use {
    text-align: left;    
    margin: 80px 0 20px 0;   
}

#how-to-use summary {
    cursor: pointer;
    list-style-type: none;
}

#how-to-use summary::after {
    content: '\24D8';
    font-weight: 600;
    color: #008600;
    padding-left: 10px;
}

#how-to-use[open] summary::after {
    content: '\24D8';
    font-weight: 600;
    color: #008600;
    padding-left: 10px;
}

#how-to-info {
    width: 300px;
    height: auto;
    border: solid 1px #008600;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    line-height: 1.2;
    margin-top: 5px;
}

#green {
    color: #00b200;
    font-size: 1.2rem;
    font-weight: 600;
}

#red {
    color: #ff0000;
}

/* Currency selector */

#currency {
    padding: 5px;
    margin: 20px 0;
    color: #008600;
    border-radius: 5px;
    border-color: #008600;
}

#currency-wrapper {
    text-align: left;
}

/* Form data */

summary h2 {
    text-transform: uppercase;
    display: inline;
    padding-left: 38px;

}

.drop {
    list-style-type: none;
    background: radial-gradient(#ffffff, #d1cfcf);
    border-radius: 25px;
    width: 60%;
    margin: 5px auto;
    cursor: pointer;
    border: none;
}

.drop::after {
    content: '\25BC';
    font-size: 1.2rem;
    color: grey;
    float: right;
    padding: 7px 20px 0 0;
}

details[open] .drop::after {
    content: '\25B2';
    font-size: 1.2rem;
    color: grey;
    float: right;
    padding: 7px 20px 0 0;
}

.user-input {
    margin: 20px auto;
    width: 80%;
}

.user-input label {
    border: solid 0.5px #000000;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-right: 20px;
    display: inline-block;
    width: 25vw;
    text-align: left;
}

.user-input input {
    padding: 5px;
    width: 25vw;
    margin-right: 20px;
}

.user-input select {
    padding: 5px;
}

/* Add box button */

.add-box {
    width: 60%;
    margin: auto;
    text-align: left;
    display: block;
}

.add-box-btn {
    font-size: 2rem;
    color: #00b200;
    border: none;
    background-color: unset;
    display: inline;
    cursor: pointer;
}

.add-box p {
    display: inline;
}

/* remove box button */

.rem-box {
    width: 60%;
    margin: auto;
    text-align: right;
    display: block;
}

.rem-box-btn {
    font-size: 1.5rem;
    color: #ff0000;
    border: none;
    background-color: unset;
    display: inline;
    cursor: pointer;
}

/* Calculate button */

#calculate {
    margin-top: 20px;
}

/*Footer*/

footer {
    height: 80px;
    background: radial-gradient(#00b200, #008600);
    color: #ffffff;
}

footer p {
    padding-top: 32px;
}

/* Results section */

#results {
    display: none;
}

#results p {
    font-size: 1.5rem;
    margin-top: 10px;
}

#results h2 {
    margin-bottom: 10px;
}

#incomeTotal, #expenseTotal, #outcome {
    width: 30%;
    display: inline-block;
}

.chart-style {
    width: 40%;
    height: auto;
    margin: 0 auto;
    
}